name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="--coverage"
    
    - name: Build
      run: cmake --build build
    
    - name: Run Tests
      working-directory: build
      run: ctest --output-on-failure
    
    - name: Generate Coverage Report
      run: |
        sudo apt-get install -y lcov
        lcov --capture --directory build --output-file coverage.info --ignore-errors mismatch
        lcov --remove coverage.info '/usr/*' '*/googletest/*' '*/tests/*' --output-file coverage_filtered.info --ignore-errors mismatch
        lcov --list coverage_filtered.info
        genhtml coverage_filtered.info --output-directory coverage_report --ignore-errors mismatch
    
    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage_report/
